.Header {
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.nav-link:hover {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}
.LoginButton {
  margin-left: 10px;
}

.modal-content {
  width: 149%;
  height: 99%;
  padding-top: 0px;
}
.modal {
  width: 90%;
}
