.Footer.ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  color: white;
}

.Footer {
  position: relative;
  bottom: 0;
  height: 0rem;
  width: 100%;
  color: white;
  text-align: center;
}

.text-md-left {
  text-align: center !important;
}
.Footer a {
  color: white;
}
.Footer a:hover {
  color: white;
  font-weight: bold;
}
.FooterBody {
  background-color: #007bff;
  padding-top: 15px;
}
.FooterBottom {
  background-color: #007bff;
  padding-bottom: 10px;
}
